@media screen and (max-width: 480px) {
    main {

        .view {
            padding: 1rem;
        }

        #top-sellers-view,
        #top-wishlist-view,
        #top-spots-view {
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        }

        #game-details .game-details-container div {
            flex-direction: column;
        }
    }
}